body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Her are the styles for the heading section */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.nav_links {
  padding-top: 10px;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Here are the styles for the hero section */

.hero_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding-bottom: 50px;

}

.hero_text {
  max-width: 500px;
}

.hero_image {
  flex-basis: 25%;
  align-self: center;
}

.hero_image img {
  max-width: 500px;  
  padding-top: 35px;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 5px;
  border-color: #3882f6;
  padding: 5px 20px;
  font-size: 16px;
}

/* Here are the styles for the Information & Cards Section */

.item img {
  max-width: 250px;
  height: auto;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 32px 0px;
}

.nft_cards {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 52px;
  margin: 0 52px;
}

.nft {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 250px;
}

/* Here are the styles for the quote section */

.quote_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 35px 0;
  margin-top: 35px;
  margin-bottom: 50px;
}

.quote_content {
  max-width: 750px;
}

.quote_source {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.quote_text p {
  font-size: 18px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.quote_source p {
  font-weight: bold;
}

/* Here are the styles for the CTA section */

.cta_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 950px;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  margin-bottom: 50px;
}

.cta_text p {
  margin-top: -35px;
}

.cta_button button {
  border-radius: 5px;
  border-color: #f9faf8;
}

/* Here are the styles for the Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: #1f2937;
}